.NoiseVolume-slider {
  appearance: none;
  outline: none;
  height: 15px;
  width: 100%;
  margin-top: 50px;
  background: #000;
  border: 1px solid #aaa;
}

.NoiseVolume-slider::-webkit-slider-thumb {
  appearance: none;
  width: 40px;
  height: 40px;
  background: #333;
  border: 1px solid #aaa;
  cursor: pointer;
}

.NoiseVolume-slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background: #333;
  border: 1px solid #aaa;
  cursor: pointer;
}

@media screen and (prefers-color-scheme: light) {
  .NoiseVolume-slider {
    border: 1px solid #555;
    background: #fff;
  }

  .NoiseVolume-slider::-webkit-slider-thumb {
    background: #fff;
    border: 1px solid #555;
    background: #ddd;
  }

  .NoiseVolume-slider::-moz-range-thumb {
    background: #fff;
    border: 1px solid #555;
    background: #ddd;
  }
}
