.RemoteToggle-body {
  color: #666;
  cursor: pointer;
}

.RemoteToggle-remote, .RemoteToggle-player {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 24px;
  border: 1px solid #999;
  margin: 0 20px;
}

.RemoteToggle-box {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #aaa;
}

.RemoteToggle-player .RemoteToggle-box {
  right: 32px;
}

.RemoteToggle-remote .RemoteToggle-box {
  left: 32px;
}

.RemoteToggle-selected {
  color: #fff;
}

@media screen and (prefers-color-scheme: light) {
  .RemoteToggle-selected {
    color: #000;
  }
}
