body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
}

button:disabled {
  color: #666;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75)!important;
}

.ReactModal__Content {
  background-color: #000!important;
  text-align: center;
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #000;
  }

  button {
    background-color: #ddd;
    color: #000;
  }

  .ReactModal__Overlay {
    background-color: rgba(255, 255, 255, 0.75)!important;
  }

  .ReactModal__Content {
    background-color: #fff!important;
  }
}
